div.navbar {
	display: flex;
    color:#666666;
    font-weight: bold;
}
a.nav-link{
	color: #666666;
}
a.nav-link::hover{
	color:black;
}
h1.navbar.logo{
	color:black;
	font-family: 'Roboto', sans-serif;
}
.navbar-mobile {
    display: none;
}