.home-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    min-height: 84vh;
} 
.home-sort-list{
	margin: 50px 0 30px 20px;
	padding: 10px;
	list-style: none;
	border-bottom: 1px solid #666666;
	letter-spacing: 1.54px;
	font-size: 20px;
	opacity:0.8;
	cursor: pointer;
	text-decorate: none;
	transition:0.3s;
	li:hover{
		color:blue;
		transform:scale(1.1);
		transition:0.3s;
	}
}

.home-sort{
	transition:1s;
	height:300px;
	&:hover{
		box-shadow: 0 0 10px rgba(1, 0, 0, 0.3);
	}
}

.home-sort-header{
	font-weight: bold;
	margin-left: 30px;
	font-size: 20px;
}
.home{
	margin-top: 100px;
	display: flex;
}
